* { margin:0; padding:0; }
*:after { display:block; clear:both; }

body {
  background-color: #EEE;
  width:100%;
  overflow:hidden;
  font-family: 'Helvetica';
}

h1 {
  text-align:center;
  font-weight: 100;
}

div.button {
  margin: 25px auto;
  width: 280px;
  text-align: center;
  background-color: #FFF;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #777;
  border-radius: 5px;
}

div#msg {
  margin: 25px auto;
  text-align:center;
  color: #00F;
}

div#errormsg {
  margin: 25px auto;
  text-align:center;
  color: #F00;
}
